.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.option_button {
    background-color: #4CAF50;
}

.answer_button {
    background-color: #008CBA;
}

.next_button {
    background-color: #c542f5;
}

.streak_increment {
    background-color: #fcba03;
}

.streak_reset {
    background-color: #fc1c03;
}

.streak {
    text-align: center;
}

.welcome {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button_row {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.button_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #E0C9A6;
    height: 55px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_image {
    height: 100px;
}

.right_page_image {
    position: absolute;
    right: 25px;
}

.left_page_image {
    position: absolute;
    left: 25px;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #E0C9A6;
    height: 55px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "LotrFont";
    src: url("/static/fonts/lotr_anirb.ttf");
}

h1 {
    font-family: "LotrFont";
    font-size: 24px;
}

h2 {
    font-family: "LotrFont";
    font-size: 20px;
}

h2.welcome {
    padding-top: 10px;
    padding-bottom: 10px;
}

h3 {
    font-family: "LotrFont";
    font-size: 16px;
}

h3.welcome {
    padding-top: 10px;
    padding-bottom: 10px;
}

.grid_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_block {
    width: 90%;
    padding: 3px 10px 3px 10px;
}

.main_page {
    font-family: "LotrFont";
}

hr {
border-top: 1px solid black;
}
