{% extends "question_layout.html" %}
{% block question_content %}
<body>
    <div class="main_block">
        <form action="{{ url_for('with_options') }}" method="post">
            <button type="submit" class="button option_button" name="question_index" value={{ question.index }}>
                Show Options
            </button>
        </form>
    </div>
<hr>
    <div class="main_block">
        <form action="{{ url_for('with_answer') }}" method="post">
            <button type="submit" class="button answer_button" name="question_index" value={{ question.index }}>
                Show Answer
            </button>
        </form>
    </div>
<hr>


</body>
{% endblock %}