<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOTR Trivia Time!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
<header>
    <h1>Lord of the Rings Quiz Time!</h1>
</header>


<div class="main_page main_block">
    {{ question.question }}
</div>
<hr>

<div class="main_page">
    {% block content %}
    {% endblock %}
</div>

<div class="main_page streak">
    <p>
        Current Streak: {{ player.current_streak }}&nbsp;&nbsp;&nbsp;&nbsp;
        Longest Streak: {{ player.longest_streak }}&nbsp;&nbsp;&nbsp;&nbsp;
        Correct: {{ player.win_percentage_str }}&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
</div>

<footer>
    <h1>
        Version 0.1.1
    </h1>
</footer>
</body>
</html>