{% extends "layout.html" %}
{% block content %}
<div class="main_page main_block">
    {{ page_data.question.question }}
</div>
<hr>

<div class="main_page">
    {% block question_content %}
    {% endblock %}
</div>

<div class="main_page streak">
    <p>
        <img class="page_image left_page_image" src="{{ page_data.image }}">
        Current Streak: {{ page_data.player.current_streak }}&nbsp;&nbsp;&nbsp;&nbsp;
        Longest Streak: {{ page_data.player.longest_streak }}&nbsp;&nbsp;&nbsp;&nbsp;
        Correct: {{ page_data.player.win_percentage_str }}&nbsp;&nbsp;&nbsp;&nbsp;
        <img class="page_image right_page_image" src="{{ page_data.image }}">
    </p>
</div>

{% endblock %}