{% extends "layout.html" %}
{% block content %}
<body>
    <p>
        {{ question.question }}
    </p>

    <p>
        {% for option in question.options %}
            {{option}}<br>
        {% endfor %}
    </p>

    <p>
        <form action="{{ url_for('with_answer') }}" method="post">
            <button type="submit" class="button answer_button" name="question_index" value={{ question.index }}>
                Show Answer
            </button>
        </form>
    </p>
</body>
{% endblock %}