{% extends "question_layout.html" %}
{% block question_content %}
<body>
    <div class="main_block">
            {% for option in page_data.question.options %}
                {{option}}<br>
            {% endfor %}
    </div>
<hr>
    <div class="main_block">
            <b>{{ page_data.question.options[page_data.question.answer]}}</b><br>
            {% if page_data.question.extra_text != "" %}
                <b>{{ page_data.question.extra_text }}</b>
            {% endif %}
    </div>
<hr>
    <div class="button_container">
       <form class="button_row" action="{{ url_for('increment_counter') }}" method="post">
            <button type="submit" class="button streak_increment">
                Correct!
            </button>
        </form>

       <form class="button_row" action="{{ url_for('reset_counter') }}" method="post">
           <button type="submit" class="button streak_reset">
                Incorrect
            </button>
        </form>
    </div>
<hr>
</body>
{% endblock %}