{% extends "question_layout.html" %}
{% block question_content %}
<body>
    <div class="main_block">
            {% for option in page_data.question.options %}
                {{option}}<br>
            {% endfor %}
    </div>
<hr>
    <div class="main_block">
            <form action="{{ url_for('with_answer') }}" method="post">
                <button type="submit" class="button answer_button">
                    Show Answer
                </button>
            </form>
    </div>
<hr>
</body>
{% endblock %}